<nav class="h-full w-full flex items-center justify-between px-4 text-gray-800 text-sm font-medium dark:text-gray-200 ">
    <a class="text-lg">Countries</a>
    <ul class="flex items-center gap-4">
        <li class="cursor-pointer  hover:text-blue-500">Home</li>
        <li class="cursor-pointer  hover:text-blue-500">Products</li>
        <li class="cursor-pointer  hover:text-blue-500">Cart</li>
        <li *ngIf="!open"><button (click)="setOpen()">Sign Up</button></li>
        <li *ngIf="open"><button (click)="setOpen()" >Sign In</button></li>
       
</ul>

</nav>